@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --script:Clicker Script;
    --player:Playfair Display;
    --bgcolor:#F9C06A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: auto;
}
.nav{
    background-image: url(./Images/background.jpg);
    width: 100%;
    height: 768px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    width: 100%;
    height: 80px;
}
.nav-text{
    color: white;
    font-family: var(--script);
    width: 25%;
    font-size: 35px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu{
    color: white;
    font-family: var(--player);
}
.nav-sign{
    display: flex;
    font-family: var(--player);
    gap: 25px;
    align-items: center;
}
.signin{
    color: white;
}
ul{
    display: flex;
    gap: 50px;
}
li{
    display: flex;
}
.menu{
    font-size: 14px;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sign-up{
    border: none;
    background-color: var(--bgcolor);
    width: 100px;
    height: 48px;
    border-radius: 25px;
}
.hero-nav{
    width: 527px;
    height: 520px;
    margin: 90px;
    color: white;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.morning{
    font-size: 22px;
    font-family: var(--player);
}
.coffe{
    font-size: 220px;
    font-family: var(--script);
}
.par{
    font-size: 20px;
    font-family: var(--player);
}
.order{
    border: none;
    background-color: var(--bgcolor);
    width: 134px;
    height: 48px;
    border-radius: 25px;
    color: black;
}
.hero-section{
    width: auto;
    height: auto;
    margin-top: 8rem;
    margin-left: 5rem;
    display: flex;
}
.best{
    color: #603809;
    font-size: 54px;
    font-style: bold;
}
.section-text{
    font-family: var(--player);
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.content{
    font-size: 20px;
    opacity: 0.5;
}
.learn{
    border: none;
    background-color: var(--bgcolor);
    width: 134px;
    height: 48px;
    border-radius: 25px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.img-beans{
    background-image: url(./Images/beans.jpg);
    width: 680px;
    height: 476px;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-img{
    width: auto;
    height: auto;
}
.choclate{
    background-image: url(./Images/choclate.png);
    width: 498px;
    height: 272px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotatex(180deg);
    position: relative;
    top: 380px;
    right: 106px;
}
.img-set{
    width: 0px;
    height: 0px;
}
.second-section{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 10rem;
    font-family: var(--player);
}
.enjoy{
    font-size: 54px;
    color: #603809;
    text-align: center;
    font-weight: 700;
}
.allflavour{
    font-size: 20px;
    text-align: center;
}
.coffe-all{
    display: flex;
    justify-content: space-around;
}
.coffe-img,
.expresso-img,
.macchiato-img,
.chai-img{
    width: 280px;
    height: 222px;
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    font-family: var(--player);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.cap{
    font-size: 22px;
    color: #603809;
    font-weight: 700;
}
.mrp{
    font-size: 18px;
    color: #603809;
    font-weight: 700;
}
.per{
    font-size: 16px;
    color: black;
    font-weight: 400;
}
.img1{
    width: 280px;
    height: 364px;
    background-color: #F9C06A6B;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.ordernow{
    position: relative;
    bottom: 25px;
    left: 70px;
    border: none;
    background-color: var(--bgcolor);
    width: 134px;
    height: 48px;
    border-radius: 25px;
    color: black;
}
.third-section{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 10rem;
    font-family: var(--player);
    margin-top: 4rem;
}
.different{
    width: 280px;
    height: 284px;
    background-color: #FFEED8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beans{
    width: 88px;
    height: 88px;
}
.taste{
    font-size: 20px;
}
.sup-beans{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 201px;
    height: 212px;
}
.third-text{
    font-family: var(--player);
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
.start{
    font-weight: 700;
    font-size: 30px;
    color: #603809;
}
.join{
    border: none;
    background-color: var(--bgcolor);
    width: 134px;
    height: 48px;
    border-radius: 25px;
    color: black;
}
.btn-join{
    text-align: center;
}
.fourth-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    width: 100%;
    height: 800px;
    background-image: url(./Images/black.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #8e4e05;
    background-blend-mode: multiply;
    opacity: 80%;
}
.fourth-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 7rem;
    width: 575px;
    height: 304px;
}
.allbeans{
    width: 657px;
    height: 797px;
}
.chance{
    font-size: 54px;
    color: white;
}
.text2{
    font-weight: 400;
    font-size: 20px;
    color: white;
}
.Order-now{
    border: none;
    background-color: var(--bgcolor);
    width: 134px;
    height: 48px;
    border-radius: 25px;
    color: #1E1E1E;
    font-weight: 700;
}
.coffe-img1{
    position: relative;
    left: 1030px;
    bottom: 500px;
    width: 300px;
    height: 467px;
}
.coffe-div{
    width: 0;
    height: 0;
}
.fifth-section{
    margin-top: 5rem;
    width: 100%;
    height: auto;
    font-family: var(--player);
}
.feedback{
    font-size: 54px;
    color: #603809;
}
.feedback-customer{
    color: #707070;
    font-size: 20px;
}
.fifth-text{
    margin-bottom: 3rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.fifth-box{
    width: 980px;
    height: 575px;
    background-color: #efdbbcfa;
    margin-left: 16rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
}
.lorem{
    width: 780px;
    height: 185px;
    font-size: 18px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #707070;
}
.punit{
    color: #603809;
    font-size: 32px;
}
.project{
    font-size: 20px;
    color: #707070;
}
.font{
    width: 890px;
    height: 135px;
    color: #603809;
    font-size: 220px;
}
.name{
    text-align: center;
}
.left{
    background-color: #F9C06A;
    width: 82px;
    height: 82px;
    border-radius: 16px;
    position: relative;
    right: 2.5rem;
}
.right{
    position: relative;
    left: 2.5rem;
    background-color: #F9C06A;
    width: 82px;
    height: 82px;
    border-radius: 16px;
}
.icons{
    position: relative;
    bottom: 19rem;
    display: flex;
    gap: 51rem;
    width: 980px;
    margin-left: 16rem;
}
#left{
    width: 16px;
    height: 16px;
    color: #603809;
}
#right{
    width: 16px;
    height: 16px;
}
.left-choco{
    background-image: url(./Images/choclate.png);
    width: 414px;
    height: 226px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 15rem;
}
.img-set{
    width: 0;
    height: 0;
}
.right-choco{
    background-image: url(./Images/choclate.png);
    width: 498px;
    height: 272px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 4rem;
    left: 63.93rem;
    transform: rotate(180deg);
}
.photo{
    width: 0;
    height: 0;
}
.punit-photo{
    position: relative;
    left: 43rem;
    bottom: 10rem;
    width: 112px;
    height: 112px;
    background-image: url(./Images/punit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.left-side,
.right-side{
    position: relative;
    font-size: 25px;
    top: 27px;
    left: 24px;
}
.sixth-section{
    width: 100%;
    height: 374px;
    background-image: url(./Images/black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #8e4e05;
    background-blend-mode: multiply;
    opacity: 80%;
    font-family: var(--player);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.subscribe{
    color: white;
    font-size: 54px;
    font-style: bold;
    font-weight: 700;
}
.update{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
.user{
    width: 642px;
    height: 66px;
    background-color: #FFF9F1;
    display: flex;
    border-radius: 5px
}
.mail{
    border: none;
    font-size: 20px;
    color: #00000057;
    background-color: #FFF9F1;
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
input::placeholder{
    position: relative;
    left: 2rem;
}
.btn-sub{
    width: 20%;
    border: none;
    background-color: #eda943;
    color: #603809;
    font-size: 18px;
    font-style: bold;
    font-weight: 700;
    border-radius: 5px;
}
footer{
    background-image: url(./Images/dana.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 490px;
    background-blend-mode: multiply;
    background-color: #6d3e08;
}
.fotter-text{
    display: flex;
    justify-content: space-around;
    height: 490px;
    align-items: center;
    padding-top: 10rem;
}
.bean{
    width: 380px;
    height: 258px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.scene{
    font-family: var(--script);
    font-size: 54px;
    color: #FFFFFF;
}
.paragraph{
    font-family: var(--player);
    font-size: 14px;
    color: #FFFFFF;
}
.icons-all{
    margin-top: 1rem;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    display: flex;
    gap: 1rem;
}
.about{
    width: 136px;
    height: 258px;
    color: #FFFFFF;
    font-family: var(--player);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about-menu{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-text{
    font-size: 26px;
    font-weight: 700;
}
.contact{
    width: 332px;
    height: 258px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #FFFFFF;
    font-family: var(--player);
}
.contact-text{
    font-size: 26px;
    font-weight: 700;
}
.information{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
}
.cup-img1{
    background-image: url(./Images/cup.png);
    width: 444px;
    height: 358px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 15rem;
    right: 9rem;
}
.cup1{
    width: 0;
    height: 0;
}
.cup-img2{
    background-image: url(./Images/cup.png);
    width: 350px;
    height: 358px;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative;
    left: 70rem;
    bottom: 15rem; */
    transform: rotateY(180deg);
}
.cup2{
    position: relative;
    left: 70rem;
    bottom: 15rem;
    width: 0;
    height: 0;
}